
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block head_title %}{% endblock %} Nai Hustle</title>
   
    
    {% include 'head_css.html' %}


                <style >
                {% block style %}

              
                {% endblock %}

                </style>

  </head>

  <body style="min-height: 2000px" >

    
    {% include 'nav-bar.html' %}

   

    <div class="container-fluid">
                      {% block jumbotron %}
                       
                      {% endblock %}

                     

                     {% block content  %}
                     {% endblock %}

                     {% block about %}
                     {% endblock %}

                     {% block home_biz %}
                     {% endblock %}


                      {% block detail %}
                      {% endblock %}

                      {% block list %}

                      {% endblock list %}


</div>

  
 
                     
        {% include 'js.html'%}             

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
  </body>
</html>