{% extends "base.html" %}
{% load staticfiles %}


{% block footer %}
<div class="navbar navbar-fixed-bottom">
<footer>
	<div class="banner">
		<div class="row">
			<div class="col-lg-6">
				<h2>Nai Hustle Business the Smart Way</h2>
			</div>
			<div class="col-lg-6">
				<ul class="list-inline banner-social-buttons">
					<li>
						<a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i><span class="network-name">Search</span></a>
					</li>

					<li>
						<a href="#" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i><span class="network-name">Get Started</span></a>
					</li>
					<li>
						<a href="#" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i><span class="network-name">Social Media</span></a>
					</li>
				</ul>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="list-inline">
						<li>
							<a href="#">Home</a>

						</li>
						<li class="footer-menu-divider">&sdot;</li>
						<li>
							<a href="#">About</a>
						</li>
						<li class="footer-menu-divider">&sdot;</li>
						<li>
							<a href="#">Contact</a>
						</li>
					</ul>
					<p class="copyright text-muted small">
					Copyright&copy; Nai Hustle 2017. All Rights Reserved </p>
				</div>
			</div>
		</div>
	</div>
</footer>
</div>

{% endblock %}