{% load staticfiles %}


<div class="container-fluid" style="background-color: black">
<br/>

 <nav class="navbar navbar-default navbar-static-top navigation">
      <div class="container-fluid" style="background-color: black">
        <div class="navbar-header" style="background-color: black">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">Nai Hustle</a>
        </div>
        <div  id="navbar" class="navbar-collapse collapse navigation container-fluid " style="background-color: black">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li> 
          </ul>
                
          <ul class="nav navbar-nav navbar-right">
           <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>  
           
         </ul>
        </div>
      </div>
    </nav>

</div>