{% extends "base.html" %}


{% load staticfiles %}

{% block detail %}

<link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
<body style="background-color: ">

<br/>
<div id="container">
		<div class="sidebar">
			<ul id="nav">
				<li><a href="#">Dashboard</a></li>
				<li><a href="#">Biz</a></li>
				<li><a href="#">Contacts</a></li>
				<li><a href="#">Email</a></li>
				<li><a href="#">Login</a></li>
				<li><a href="#">Logout</a></li>
		</div>

<div class="col-sm-6 col-sm-offset-3">
<div class="row">
<div class="col-sm-12">
<div class="thumbnail" style="background-color: black">

<div class="caption">

<!-- {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
   
 {% endif %} -->


<h1>{{ title }}</h1>
<h3>Category: <small>{{ instance.category }}</small></h3></br>
{% if instance.image %}
 	<img src="{{ instance.image.url }}" class="img-responsive" />
{% endif %}

<h3>Description: </h3>{{ instance.description }}</br>
<h3>Location: </h3>  {{ instance.location }}</br>

</div>
</div>
</div>
</div>
</div>

{% endblock %}
</body>